<div class="header-wrapper">
    <img
      class="logo"
      src="https://static-zmp3.zmdcdn.me/skins/zmp3-v5.1/images/logo.png"
      alt="logo error"
    />
    <div class="search-bar">
      <input
        class="search-inp"
        type="text"
        placeholder=" Nhập nội dung cần tìm"
      />
      <input class="search-btn" type="submit" value="" />
    </div>
    <span class="header-item">
      <a class="item" href="#">MP3</a>
      <a class="item" href="#">NEWS</a>
      <a class="item" href="#">TV</a>
      <a class="item" href="#">ZALO PC</a>
    </span>
    <div class="login">
      <span id="login-btn">Đăng nhập</span>
      <div class="dropdown">
        <input
          class="dropdown-input"
          id="input-account"
          type="text"
          placeholder="Tài khoản"
        />
        <input
          class="dropdown-input"
          id="input-password"
          type="password"
          placeholder="Mật khẩu"
        />
        <input
          class="dropdown-input"
          id="input-submit"
          type="submit"
          value="Đăng nhập"
          style="margin-bottom: 10px"
        />
      </div>
    </div>
  </div>
  <div class="subheader-wrapper">
    <ul class="subheader-item-left">
      <li>
        <a class="item" href="#"
          ><img
            id="home-btn"
            src="https://cdn-icons-png.flaticon.com/512/25/25694.png"
        /></a>
      </li>
      <li>
        <a class="item" href="#" id="except">Nhạc Cá Nhân</a>
      </li>
      <li>
        <label
          style="
            font-size: 25px;
            margin-right: 10px;
            color: rgb(182, 173, 173);
          "
          >|</label
        >
      </li>
      <li>
        <a class="item" id="i1" href="#"> #Zingchart</a>
        <div class="sub-item">
          <div class="col">
            <div class="chart-title">ZINGCHART</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Bài hát</a>
                </li>
                <br style="line-height: 1px" />
                <li>
                  <a href="#">MV</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">TUẦN</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Bài hát</a>
                </li>
                <br style="line-height: 1px" />
                <li>
                  <a href="#">MV</a>
                </li>
                <br />
                <li>
                  <a href="#">Album</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">US-UK CHART</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Bài hát</a>
                </li>
                <br style="line-height: 1px" />
                <li>
                  <a href="#">MV</a>
                </li>
                <br />
                <li>
                  <a href="#">Album</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">KPOP CHART</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Bài hát</a>
                </li>
                <br style="line-height: 1px" />
                <li>
                  <a href="#">MV</a>
                </li>
                <br />
                <li>
                  <a href="#">Album</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a class="item" href="#">Top 100</a>
        <div class="sub-item">
          <div class="col">
            <div class="chart-title">TOP 100</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Việt Nam</a>
                </li>
                <br />
                <li>
                  <a href="#">Âu Mỹ</a>
                </li>
                <br />
                <li>
                  <a href="#">Châu Á</a>
                </li>
                <br />
                <li>
                  <a href="#">Hòa Tấu</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a class="item" href="#">Chủ Đề</a>
        <div class="sub-item">
          <div class="col">
            <div class="chart-title">ĐỀ XUẤT</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Nhạc HOT</a>
                </li>
                <br />
                <li>
                  <a href="#">Những Bài HITs Mới</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Việt Bất Hủ</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Bất Hủ Âu Mỹ</a>
                </li>
                <br />
                <li>
                  <a href="#">K-Pop HITs</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Thúy Nga</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">THỂ LOẠI</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">EDM</a>
                </li>
                <br />
                <li>
                  <a href="#">Accoustic</a>
                </li>
                <br />
                <li>
                  <a href="#">Indie</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Không Lời</a>
                </li>
                <br />
                <li>
                  <a href="#">Trữ Tình & Bolero</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">TÂM TRẠNG</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Những Ngày Mưa</a>
                </li>
                <br />
                <li>
                  <a href="#">Tình Yêu</a>
                </li>
                <br />
                <li>
                  <a href="#">Buồn</a>
                </li>
                <br />
                <li>
                  <a href="#">Thư Giãn </a>
                </li>
                <br />
                <li>
                  <a href="#">Động Lực</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">HOẠT ĐỘNG</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Làm Việc</a>
                </li>
                <br />
                <li>
                  <a href="#">Yoga</a>
                </li>
                <br />
                <li>
                  <a href="#">Cà Phê</a>
                </li>
                <br />
                <li>
                  <a href="#">Cuối Tuần</a>
                </li>
                <br />
                <li>
                  <a href="#">Tiệc Tùng</a>
                </li>
                <br />
                <li>
                  <a href="#">Du lịch</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a class="item" href="#"> Video</a>
        <div class="sub-item">
          <div class="col">
            <div class="chart-title">VIỆT NAM</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Nhạc Trẻ</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Trữ Tình</a>
                </li>
                <br />
                <li>
                  <a href="#">Dance Việt</a>
                </li>
                <br />
                <li>
                  <a href="#">Rock Việt</a>
                </li>
                <br />
                <li>
                  <a href="#">Rap / Hip Hop Việt</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Trịnh</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Thiếu Nhi</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">ÂU MỸ</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Pop</a>
                </li>
                <br />
                <li>
                  <a href="#">Rock</a>
                </li>
                <br />
                <li>
                  <a href="#">Rap / Hip Hop</a>
                </li>
                <br />
                <li>
                  <a href="#">Country</a>
                </li>
                <br />
                <li>
                  <a href="#">Electronic / Dance</a>
                </li>
                <br />
                <li>
                  <a href="#">R&B / Soul</a>
                </li>
                <br />
                <li>
                  <a href="#">Audiophile</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">CHÂU Á</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Hàn Quốc</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhật Bản</a>
                </li>
                <br />
                <li>
                  <a href="#">Hoa Ngữ</a>
                </li>
                <br />
                <li>
                  <a href="#">Thái Lan</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">HÒA TẤU</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Classical</a>
                </li>
                <br />
                <li>
                  <a href="#">Piano</a>
                </li>
                <br />
                <li>
                  <a href="#">Guitar</a>
                </li>
                <br />
                <li>
                  <a href="#">Violin</a>
                </li>
                <br />
                <li>
                  <a href="#">Cello</a>
                </li>
                <br />
                <li>
                  <a href="#">Saxophone</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Cụ Dân Tộc</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a class="item" href="#"> Album</a>
        <div class="sub-item">
          <div class="col">
            <div class="chart-title">VIỆT NAM</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Nhạc Trẻ</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Trữ Tình</a>
                </li>
                <br />
                <li>
                  <a href="#">Dance Việt</a>
                </li>
                <br />
                <li>
                  <a href="#">Rock Việt</a>
                </li>
                <br />
                <li>
                  <a href="#">Rap / Hip Hop Việt</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Trịnh</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Thiếu Nhi</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">ÂU MỸ</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Pop</a>
                </li>
                <br />
                <li>
                  <a href="#">Rock</a>
                </li>
                <br />
                <li>
                  <a href="#">Rap / Hip Hop</a>
                </li>
                <br />
                <li>
                  <a href="#">Country</a>
                </li>
                <br />
                <li>
                  <a href="#">Electronic / Dance</a>
                </li>
                <br />
                <li>
                  <a href="#">R&B / Soul</a>
                </li>
                <br />
                <li>
                  <a href="#">Audiophile</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">CHÂU Á</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Hàn Quốc</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhật Bản</a>
                </li>
                <br />
                <li>
                  <a href="#">Hoa Ngữ</a>
                </li>
                <br />
                <li>
                  <a href="#">Thái Lan</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="chart-title">HÒA TẤU</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Classical</a>
                </li>
                <br />
                <li>
                  <a href="#">Piano</a>
                </li>
                <br />
                <li>
                  <a href="#">Guitar</a>
                </li>
                <br />
                <li>
                  <a href="#">Violin</a>
                </li>
                <br />
                <li>
                  <a href="#">Cello</a>
                </li>
                <br />
                <li>
                  <a href="#">Saxophone</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhạc Cụ Dân Tộc</a>
                </li>
                <br />
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a class="item" href="#"> Nghệ Sĩ</a>
        <div class="sub-item">
          <div class="col">
            <!-- <div class="chart-title">TOP 100</div> -->
            <div class="chart-content">
              <div class="chart-title">NGHỆ SĨ</div>
              <ul>
                <li>
                  <a href="#">Việt Nam</a>
                </li>
                <br />
                <li>
                  <a href="#">Âu Mỹ</a>
                </li>
                <br />
                <li>
                  <a href="#">Hàn Quốc</a>
                </li>
                <br />
                <li>
                  <a href="#">Nhật Bản</a>
                </li>
                <br />
                <li>
                  <a href="#">Hoa Ngữ</a>
                </li>
                <br />
                <li>
                  <a href="#">Hòa Tấu</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a class="item" href="#"> VIP</a>
        <div class="sub-item">
          <div class="col">
            <div class="chart-title">VIP</div>
            <div class="chart-content">
              <ul>
                <li>
                  <a href="#">Mua VIP</a>
                </li>
                <br />
                <li>
                  <a href="#">Giới Thiệu VIP</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="subheader-item-right">
      <a class="ad-off" href="#" style="text-decoration: none">
        <img
          id="power-btn"
          src="https://cdn-icons-png.flaticon.com/512/25/25706.png"
        />
        Tắt quảng cáo
      </a>
      <a class="upload-btn" href="#"
        ><img id="upload-btn" src="61059.png"
      /></a>
    </div>
  </div>
